@import url(https://necolas.github.io/normalize.css/3.0.2/normalize.css);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	font-size: 100%;
	font-family: Roboto, sans-serif;
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	background-image: url(../img/body-bg.jpg);
	background-repeat: repeat-x;
	background-position: top left;
	background-attachment: fixed;
	background-color: #d5dbd7;
}

img {
	max-width: 100%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.center {
	text-align: center;
}

.chat {
	width: 400px;
	height: 625px;
	margin: 15px auto;
	border-radius: 5px;
	background-image: url(../img/chat-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	position: relative;
    box-shadow: 0px 0px 5px 0px rgba(8, 8, 8, 0.39);
}

header {
	width: inherit;
	height: 74px;
	padding: 16px;
	background-color: #075E54;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bot-img {
	display: inline-block;
	width: 40px;
	float: left;
	margin-right: 10px;

	box-shadow: 0px 1px 1px #333;
	border-radius: 50%;
}

.bot-name,
.bot-status {
	display: inline-block;
	width: 289px;
	margin: 0;
	padding: 0;
	color: #fff;
	    text-shadow: 0px 1px 1px #333;
}

.bot-name {
	font-weight: 400;
}
.bot-status {
	font-weight: 300;
}

/* Chat main */

.chat-main {
	height: 468px;
	line-height: 18px;
	padding: 16px;
	overflow-y: scroll;

}

.chat-main p {
	margin: 0;
	padding: 0;
}
.message {
	/*position: absolute;*/
	/*bottom: 0;*/
	/*width: 100%;*/
	vertical-align: bottom;
	max-width: 270px;
	border-radius: 5px;
	margin: 8px 0;
	padding: 10px;
	box-shadow: 0px 0px 5px 0px rgba(162, 162, 162, 0.52);
}

.message .twitter-share-button {
	display: inline-block;
	width: 25px;
	border-radius: 3px;
	height: 22px;
	padding: 3px;
	margin: 5px 0 0 0;
	background-color: #2380ED;
}


hr {
	display: block;
	margin: 0;
	padding: 0;
	height: 0;
	background: none;
	border: none;
	width: 100%;
	clear: both;
}

.human-message {
	float: right;
	/*position: absolute;*/
	/*bottom: 0;*/
	height: auto;
	right: 16px;

	background-color: #E1FFC7;
}

.bot-message {
	float: left;
	/*position: absolute;*/
	/*bottom: 0;*/
	height: auto;
	left: 16px;
	padding: 10px 10px 5px 10px;;
	background-color: #fff;
}





/*Chat input (footer)*/

.chat-input {
	position: absolute;
	height: 83px;
	padding: 16px;
	bottom: 0;
	left: 0;
	right: 0;
}

.message-input {
	float: left;
    margin-top: 5px;
	width: 295px;
	padding: 12px;
	border: 0;
	border-radius: 5px;
	outline: 0;
	box-shadow: 0px 0px 5px 0px rgba(162, 162, 162, 0.52);
}

.message-submit {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 0;
	border-radius: 50%;
	background-color: #075E54;
	margin-top: 1px;
	box-shadow: 0px 0px 5px 0px rgba(162, 162, 162, 0.52);
	margin-left: 22px;
	outline: 0;
	text-decoration: none;
	color: #fff;
	font-size: 2em;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	cursor: pointer;
}

.message-submit:active {
	margin-top: 2px;
}
.message-submit::selection {
	background-color: transparent;
}

.message-author {
	text-align: right;
	font-style: italic;
}
